name: Pre-commit checks

on:
  push:
    branches:
      - '**'

jobs:
  pre-commit:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Set up UV
        uses: astral-sh/setup-uv@v4

      - name: Install dependencies
        run: uv pip install -r requirements.txt --system

      - name: Run pre-commit checks
        uses: pre-commit/action@v3.0.1
